<%= stylesheet_link_tag    'application', media: 'all' %>

<h1>Welcome to Katayaki. Here's what's trending: </h1>
  <ul>
    <% @trending.each do |goal| %>
      <div>
        <h3/> <%= link_to goal.title, goals_path %>
      </div>
      <% end %>
  </ul>
