<%= stylesheet_link_tag    'application', media: 'all' %>
<div class="row">
    <% @trending.each do |goal| %>
      <div class="goal-list small-6 small-centered columns">
        <h4> <%= link_to goal.title, goal_path(goal) %></h4>
        <h5> <%= goal.details  %><h5>
      </div>
    <% end %>
  <% if current_user %>
  <div class="row">
    <div class="small-12 small-centered columns">
      <div id='map-container'>
        <div id="map"></div>
      </div>
    </div>
  </div>
  <% end %>
</div>
