<%= stylesheet_link_tag    'application', media: 'all' %>

<h1>Trending</h1>
  <ul>
    <% @trending.each do |goal| %>
      <div class="trending_goal">
        <h3/> <%= link_to goal.title, goal_path(goal) %>
      </div>
      <% end %>
  </ul>
