<%= stylesheet_link_tag    'application', media: 'all' %>
<div class="row">
  <div>
    <% @trending.each do |goal| %>
      <div class="katayaki small-9 small-centered columns">
        <h3 class="white-text-override"> <%= link_to goal.title, goal_path(goal) %></h3>
      </div>
    <% end %>
  </div>
</div>
