<div class='row'>
  <div class='small-9 small-centered large-5 large-centered columns'>
    <div class='goal-show'>
      <h4>Upload a Profile Picture</h4>
      <%= form_for @user, :html => {:multipart => true} do |f| %>
      <br/>
        <%= f.file_field :avatar %>
        <%= f.submit 'Update User', class: 'upload-btn' %>
      <% end %>
    </div>
  </div>
</div>
