<%= stylesheet_link_tag    'application', media: 'all' %>

<% if !current_user.aspirations.empty? %>
  <div class="user_show row">
    <div>
      <% @aspirations.each do |aspiration| %>
        <div class="goal-list small-6 small-centered columns">
          <h3> <%= link_to aspiration.goal.title, aspiration_path(aspiration) %></h3>
          <div class='row small-9 small-centered columns'>
            <ul class='star-count'>
            <% aspiration.votes.count.times do %>
              <li><i class="fa fa-star orange-shadow" aria-hidden="true"></i></li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class='row'>
    <div class='small-9 small-centered large-5 large-centered columns'>
      <div class='goal-show'>
        <h3><span class='orange-shadow'>Welcome to Katayaki</span></h3>
        <div class='row'>
          <div class='small-8 small-centered columns'>
            <h5><%= button_to 'Aspire', goals_path, { action: 'index', method: :get, class: 'btn' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
