<%= stylesheet_link_tag    'application', media: 'all' %>

<div class="row">
  <div>
    <% @aspirations.each do |aspiration| %>
      <div class="goal-list small-9 small-centered columns">
        <h3> <%= link_to aspiration.goal.title, aspiration_path(aspiration) %></h3>
      </div>
    <% end %>
  </div>
</div>


<div>
  <h3/>Your Groups
  <ul>
    <% @groups.each do |group| %>
      <div>
        <h5/> <%= link_to group.name, group_path(group) %> <br/>
      </div>
    <% end %>
  </ul>

</div>
