<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='row'>
  <div class='small-9 small-centered large-5 large-centered columns'>
    <div class='goal-show'>
      <h2> <%= @aspiration.goal.title %> </h2>
      <p> <%= @aspiration.goal.details %> </p>
      <div class='row'>
        <div class='small-6 small-centered columns'>
          <h4 class='underline touches'>Touches</h4>
          <h3 class='touches'><%= @aspiration.votes.count %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
