<%= stylesheet_link_tag    'application', media: 'all' %>

<% if @goals.empty? %>
  <h3>Suggest a Katayaki</h3>
<% else  %>
  <div class="row">
    <div>
      <% @goals.each do |goal| %>
        <div class="goal-list small-9 small-centered columns">
          <h3 class="white-text-override"> <%= link_to goal.title, goal_path(goal) %></h3>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
