<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='row'>
  <div class='small-9 small-centered columns'>
    <div class='goal-show'>
      <h3> <%= @goal.title %> </h3>
      <p> <%= @goal.details %> </p>
    </div>
  </div>
</div>
