$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

* {
    margin: 0;
}
html, body {
    height: 100%;
    background-image: url("./community-web2.jpg");
    background-size: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

#flash {
  text-align: center;
  font-size: 1rem;
  background-color: red;
  margin: auto;
  color: white;
  border-radius: 10px;
}
