$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

* {
    margin: 0;
}
html, body {
    height: 100%;
    background-image: url("./community-web2.jpg");
    background-size: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

#flash {
  text-align: center;
  font-size: 5vmin;
  background-color: $orange;
  margin: 10vmin auto 3vmin auto !important;
  color: white;
  border-radius: 2vmin;
}

.hidden {
  display: none;
}
