$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;


.actions {
  background-color: $teal;
  text-align: center;
  margin: auto;
  border: .25vmin solid $turquoise !important;
}

.new_user {
  margin-top: 7vmin;
}

.devise-btn {
  font-size: 2.5vmin;
  margin: auto;
}

.devise-submit {
  margin-bottom: 10vmin !important;
  margin-top: 5vmin;
}

#cancel-acct {
  margin: 4vmin auto auto auto;
}

#prof-pic-link {
  a {
    color: $turquoise;
  }
}
