$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;


.actions {
  background-color: $teal;
  text-align: center;
  margin: auto;
}

.new_user {
  margin-top: 7vmin;
}

.devise-button {
  background-color: $teal;
  border: none;
  box-shadow: 0 9px #999;
}
