$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;


.actions {
  background-color: $teal;
  text-align: center;
  margin: auto;
}

.new_user {
  margin-top: 7vmin;
}

.devise-button {
  background-color: $teal;
  border: none;
}

.devise-submit {
  margin-bottom: 10vmin !important;
  margin-top: 5vmin;
}

#cancel-acct {
  margin: 4vmin auto auto auto;
}
