$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

.full-width {
  max-width: 1400px;
}

$text-color: #fff;

// footer CSS

.footer {
  position: fixed;
  min-width: 100vmin;
  min-height: 15vmin;
  bottom: 0;
  border: 0.5vmin solid $turquoise;
  background-color: $teal;
  padding: auto;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 750;
    font-size: 2.5vmin;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
