

$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

.goal-search {
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  margin: 1vmin;
  text-align: center;
  border-radius: 3vmin;
}

.search {
  margin-top: 10vmin;
}

.search-btn {
  background-color: $orange;
  border-radius: 1vmin;
}

.goal-footer {

}

.pagination{
  font-weight: bold;
  display: inline;
  position: relative;
}

a:link {
  color: $orange !important;
}
