

$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

.goal-search {
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  margin: 1vmin;
  text-align: center;
  border-radius: 3vmin;
}

.goal-show {
  text-align: center;
  margin-top: 20vmin;
  margin-bottom: 10vmin;
  border: 0.25rem solid $turquoise;
  border-radius: 3vmin;
  background-color: $teal;
  padding: 3vmin;

  h3 {
    font-weight: 300;
  }
}

.search {
  margin-top: 10vmin;
}

.btn {
  background-color: $orange;
  border-radius: 1vmin;
  margin: 1vmin auto 3vmin auto;
}

.pagination {
  font-weight: bold;
  display: inline;
  position: relative;
  padding: 0;

  a {
    color: white !important;
  }
}

.footer {
  background-color: $teal;
  border: 0.5vmin solid $turquoise;
}

.accept-kat {
  margin-bottom: 3vmin;
  background-color: $orange;
}

.orange-shadow {
  text-shadow: .1vmin .1vmin $orange;
}

.underline {
  text-decoration: underline;
}
