

$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

.goal-search {
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  margin: 1vmin;
  text-align: center;
  border-radius: 3vmin;
}

.goal-show {
  text-align: center;
  margin-top: 12vmin;
  margin-bottom: 10vmin;
  border: 0.25rem solid $turquoise;
  border-radius: 3vmin;
  background-color: $teal;
  padding: 3vmin;

  h3 {
    font-weight: 300;
  }
}

.btn {
  background-color: $orange;
  border-radius: 1vmin;
  margin: auto auto 2vmin auto;
  font-size: 3.0vmin !important;
  text-align: center;
}

.pagination {
  @media (max-width: 1240px) {
    li {
      display: none;
      &.active,&.prev,&.next {
        display: inline
      }
    }
  }
  font-weight: bold;
  display: inline;
  position: relative;
  padding: 0;

  a {
    color: white !important;
  }
}

.accept-kat {
  margin-bottom: 3vmin;
  background-color: $orange;
}

.orange-shadow {
  text-shadow: .15vmin .15vmin $orange !important;
}

.turquoise-shadow {
  text-shadow: .15vmin .15vmin $turquoise !important;
}

.teal-shadow {
  text-shadow: .15vmin .15vmin $teal !important;
}

.underline {
  text-decoration: underline;
}
