$header-bg: #008BB2;;
$subnav-link-padding: 0.75rem;
$subnav-font-size: 1.1rem;
$subnav-link-opacity: 0.15;
$header-height: 2.5rem;
$transition: all .35s ease-in-out;

$small: 420px;
$tiny: 350px;

$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;



.header {
  text-align: center;
  background: $header-bg;
  background-size: cover;
  position: relative;
  overflow: visible;
  border: 0.5vmin solid $turquoise;
  padding-top: 2vmin;
  padding-bottom: $header-height;



  .headline {
    color: #ffe;
    font-size: 15vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-bottom: 3vmin;
    margin: auto auto auto auto;
    text-shadow: .25vmin .25vmin $orange;

    @media screen and (max-width: $small) {
      padding-bottom: 7.5vmin;
    }

    @media screen and (max-width: $tiny) {
      padding-bottom: 5vmin;
    }

  }
}

.header-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;


  @media screen and (max-width: $small) {
    padding-left: 7vmin !important;
    padding-right: 7vmin !important;
  }


  li {
    float: none;
    display: inline-block;

    a {
      //1rem
      padding: $subnav-link-padding - 1rem;
      font-size: $subnav-font-size;
      color: #ffe;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1vmin;
      transition: $transition;

      @media screen and (max-width: $small) {
        font-size: $subnav-font-size - 0.4rem;
        padding: $subnav-link-padding 0.15rem;
      }

      @media screen and (max-width: $tiny) {
        font-size: $subnav-font-size - 0.65rem;
      }

      &.is-active {
        background: rgba(250,250,250,$subnav-link-opacity);
      }

      &:hover {
        background: rgba(250,250,250,$subnav-link-opacity);
        transition: $transition;
      }
    }
  }
}

#kat-headline {
  padding-bottom: 7vmin;
}
