$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;


* {
    margin: 0;
    color: white;
}
html, body {
    height: 100%;
    background-image: url("./community-web2.jpg");
    background-size: 100%;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: $orange;
}


.goal-list {
  width: 66%;
  height: 66% !important;
  text-align: center;
  margin-top: 12.5%;
  margin-bottom: 10%;
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  float: none !important;
}
