$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

$small: 420px;
$tiny: 350px;

* {
    margin: 0;
    color: white;
}
html, body {
    height: 100%;
    width: 100%;
    background-image: url("./community-web2.jpg");
    background-size: 100%;
}


/* visited link */
a:visited {
    text-shadow: .25vmin .25vmin white !important;
}

#search-form {
  margin-top: 10vmin;
}

.goal-list {

  text-align: left;
  margin-top: 8vmin;
  margin-bottom: 10vmin;
  border: 0.5vmin solid $turquoise;
  background-color: $teal;
  float: none !important;
  border-radius: 3vmin;

    a {
      size: 4vmin;
      color: white;
      text-shadow: none;
      &:hover{
        text-shadow: .25vmin .25vmin $orange;
      }
    }

    .title-div {
      text-decoration: underline;
      padding-top: 2vmin;
      padding-left: 2vmin;

    }

    .goal-list-count {
      padding-top: 3vmin;
      padding-right: 4vmin;

      @media screen and (max-width: $small) {
        padding-top: 2vmin;
      }
    }

    .goal-details {
      text-align: left;
    }
}

.kat-list {
  text-align: center;
  margin-top: 8vmin;
  margin-bottom: 10vmin;
  border: 0.5vmin solid $turquoise;
  background-color: $teal;
  float: none !important;
  border-radius: 3vmin;

    a {
      size: 4vmin;
      color: white;
      text-shadow: none;
      &:hover{
        text-shadow: .25vmin .25vmin $orange;
      }
    }
}

a:visited {
  color: #BABAB4;
}
