$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;


* {
    margin: 0;
    color: white;
}
html, body {
    height: 100%;
    background-image: url("./community-web2.jpg");
    background-size: 100%;
}

/* visited link */
a:visited {
    text-shadow: .25vmin .25vmin white !important;
}


.goal-list {
  width: 66%;
  height: 66% !important;
  text-align: center;
  margin-top: 8vmin;
  margin-bottom: 10vmin;
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  float: none !important;
  border-radius: 3vmin;

    a {
      size: 4vmin;
      color: white;
    }
}

a:visited {
  color: $orange;
  text-shadow: .25vmin .25vmin white !important;
}
