$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;

#flash {
  text-align: center;
  font-size: 1em;
  background-color: red;
  margin: auto;
  color: white;
  border-radius: 10px;
}

.body {

}

.katayaki {
  width: 33%;
  text-align: center;
  margin: 0 auto;
  border: 0.5em solid $orange;
  background-color: $teal;
}

.card{
  padding: 5em;
}
