$orange: #FF7D00;
$teal: #008BB2;
$turquoise: #93E7FF;



.katayaki {
  width: 66%;
  height: 66% !important;
  text-align: center;
  margin-top: 15%;
  border: 0.25rem solid $turquoise;
  background-color: $teal;
  float: none !important;
}

.card{
  padding: 5rem;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
