<!-- Footer -->
<footer class="footer">
  <div class="row full-width">
    <div class='row footer-content small-12 small-centered columns'>
      <% if @goals %>
        <div class='small-5 small-centered medium-7 medium-centered large-7 large-centered columns'>
          <%= will_paginate @goals, inner_window: 1, outer_window: 1, renderer: FoundationPagination::Rails %>
        </div>
      <% end %>
    </div>
  </div>
</footer>
